@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">Vidly is an app I made while following a tutorial. 
        It is helping me to lock in fundamentals of ASP.NET that were missed when beginning my job working with these technologies. 
        I also will be working with the Entity Framework which I have no prior knowledge of.</p>
</div>

