<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container d-flex justify-content-between">
        <h1 class="">Vidly</h1>
        <div class="navbar-header d-flex">
            <span class="icon-bar">@Html.ActionLink("Customers", "Index", "Customers")</span>
            <span class="icon-bar">@Html.ActionLink("Movies", "Index", "Movies")</span>
        </div>
    </div>
</div>
