<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <h1 class="">@Html.ActionLink("Vidly", "Index", "Home")</h1>
        <div class="d-flex w-100">
            <div class="p-1">@Html.ActionLink("Customers", "Index", "Customers")</div>
            <div class="p-1">@Html.ActionLink("Movies", "Index", "Movies")</div>
        </div>
    </div>
</div>

