@model List<Vidly.Models.Customer>

<h2>Customers</h2>

<h4>Name</h4>
<ul class="d-flex flex-column">
    @foreach (var customer in Model)
    {
        <li class="">@Html.ActionLink(@customer.Name, "Details", "Customers", new { customerId = $"{@customer.Id}" }, new { })</li>
    }
</ul>
